/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
    background:  #f2f3ee;
   -webkit-font-smoothing: antialiased;
   text-rendering:optimizeLegibility;
   margin:0;
   padding: 0;
}

.container {

}


/* Typography */

h1, h2 {
    text-align: center;
    color:#d17f38; 

}

h1 {
font-family: "Love Ya Like A Sister";
background-image: url(../images/header-divider.png);
background-repeat: no-repeat;
background-position: center;
text-align:center;

padding-bottom:50px
}

h1 em {
color:#000;
}

h2 {

}

h3 {

}

p.lead {

}

p {
text-align: center;
}

a:link, a:visited {

}

a:hover {

}

hr {
background-image:url("../images/divider.png");
height: 40px;
background-repeat: no-repeat;
background-position: center;
border:0;
}


/* Header */

header nav {
background-color: #f2f3ee;
text-align: center
}

header nav ul {



}

header nav ul li {
list-style: none;
display: inline-block;
padding: 20px;
margin-bottom: 20px;




}

header nav ul li a {
color:#d17f38;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;

}
header nav ul li a:hover {
color: #4b2707;
background-image: url("../images/tiny-donut.png");
background-repeat: no-repeat;
background-position: center;
padding-top: 20px;
font-size: 20px;

margin-bottom: 20px;
}

header nav ul li#logo a{
width:100%;
margin-bottom:0px;
content: url("../images/logo.png");
}



header nav ul li#logo a:hover {
content: url("../images/logo-hover.png");
}


/* Hero */

#hero {
text-align: center
}

#hero .container {
background: #e8c04f;

}

#hero .large-ribbon {
content: url("../images/fresh-whole-ingredients.png");
position: absolute;
top:169px;
left:1008px
}


/* The Whole Story */

#story-excerpt {
float: left;
width: 39%;
margin-left: 197px;

}

#best-donut {
float: right;
width: 18%;
background-image: url("../images/award.png");
background-repeat: no-repeat;
margin-right: 152px;
padding-left: 159px;
margin-top: 0;
background-position-y: 21px;
}
/* News & Events */

#articles {
 font-size: 12px;
 width: 30%;
 margin-left: 197px;
 float: left;
}

#feature-image {
width: 50%;
float: right;
}

#news-events article {

}

#news-events article.news {
background-image: url(../images/icon-news.png);
background-repeat: no-repeat;
padding-left: 60px;
}

#news-events article.event {
background-image: url(../images/icon-calendar.png);
background-repeat: no-repeat;
padding-left: 60px;
}

#news-events header time {
 color: #d17f38;
}

#news-events section.excerpt {

}

#news-events footer {

}


/* Footer */

footer.main {
    background-color: #4b2707;
    background-image: url("../images/bg-tile-brown.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-position: left;
    color:#f2f3ee; 
	padding: 30px 0;
}


footer.main a:hover {
color:#d17f38 ;
}

#uncopyright, #credits {
width: 240px;
	float: left;
	padding: 10px 0 10px 50px;
}

#uncopyright {
    float: left;
background-image: url(../images/icon-recycle.png);
background-repeat: no-repeat;
    background-position: center;
    padding-left: 322px; 

        

}

#credits {
    width: 20%;
    float: right;
    background-image: url(../images/icon-apple.png);
background-repeat: no-repeat;
background-position: center;
padding-left: 409px;
margin-top:5px; 
}



/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





